body{
	background: white url("../imgs/gca.jpg") center no-repeat;
	background-size: cover;
/* 	background-repeat: repeat-x; */
}

.front_10 { z-index: 10; position: absolute; } 
.front_0 { z-index: 0; position: relative; }

footer {
  background-color: #f2f2f2;
  padding: 25px;
}