/* 列出球員的格子 */
#table{
	border: 30px;
}

/* 列出球員的格子- */
th { 
    text-align: center;
    padding: 8px;
    background-color: #8FBAF3;
    color: white;
}

/* 列出球員的格子 */
td {
    text-align: center;
    padding: 8px;
}


/* 列出背號的格子 */
.inputA{
  text-align: center;
  border-radius:8px;
  width: 80px;
}


/* 列出姓名的格子 */
.inputB{
  text-align: center;
  border-radius:8px;
  width: 50px;
  margin: 5px;
}


/* 列出守備位置的格子 */
.inputC{
  text-align: left;
  border-radius:8px;
  width: 300px;
  margin: 5px;
}


/* 列出的打擊的格子 */
.inputD{
  text-align: center;
  border-radius:8px;
  width: 50px;
  margin: 5px;
}


/* 列出投球的格子 */
.inputE{
  text-align: center;
  border-radius:8px;
  width: 50px;
  margin: 5px;
}


/* 列出身高的格子 */
.inputF{
  text-align: center;
  border-radius:8px;
  width: 50px;
  margin: 5px;
}


/* 列出體重的格子 */
.inputG{
  text-align: center;
  border-radius:8px;
  width: 50px;
  margin: 5px;
}


/* 列出生日的格子 */
.inputH{
  text-align: center;
  border-radius:8px;
  width: 150px;
  margin: 5px;
}


.photo_td{
/*   text-align: center; */
/*   border-radius:8px; */
  width: 200px;
  margin: 5px;
}


/* 儲存變更按鈕的Class */
div.scbutton{
   padding-top: 10px;
}


/* 儲存變更按鈕本身 */
.saveButton{
  margin-bottom:10px;
  height: 30px;
  color: white;
  background-color: #238c21;
  border-radius:8px;
}


/* 刪除球員的按鈕 */
.deleteButton{
  margin-bottom:10px;
  height: 30px;
  color: white;
  background-color: red;
  border-radius:8px;
  width: 100%;
}


/* 儲存新增的按鈕 */
.addbutton{
  margin-bottom:10px;
  height: 30px;
  color: white;
  background-color: #238c21;
  border-radius:8px;
  margin-left: 13px;
}


/* 多筆新增的按鈕 */
.addsection{
  margin-bottom:10px;
  height: 30px;
  color: white;
  background-color: #203562;
  border-radius:8px;
}


div.team{
/* 	font-family: "Arial Black"; */
	font-size: 30px;
	position: relative;
	padding-left: 280px;
}

div.myTeamArea{
   padding-bottom: 100px;
}

.responsive {
    padding: 6px;
    float: left;
    width: 25%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 50%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

div.gallery {
    border: 3px solid #ccc;
    /*width: 100px;*/
    /*height: 100px;*/
  
}

div.gallery:hover {
    border: 1px solid #777;
}

.addLogoButton{
  margin-bottom:5px;
  margin-left:160px;
  height: 30px;
  width:100px;
  color: #004080;
  background-color: #ffff80;
  border-radius:5px;
}

.changButton{
	padding-left: 20px;
}
