/* Add a gray background color and some padding to the footer */
/* footer { */
/*   background-color: #f2f2f2; */
/*   padding: 25px; */
/* } */

/* .navbar{ */
/*   height:61px; */
/*   background-color:#203562; */
/* } */

h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 28px;
    font-weight: normal;
    color: #171717;
    text-align: left;
    text-shadow: 0 1px rgba(0,0,0,.25);
    margin: 25px 0 10px;
    position: relative;
}

h1 span{
  font-size: 20px;
}

td, th{
  text-align:center;
}

.date_pick_bar {
    background-color: #00bcd4;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #FFF;
    font-size: 20px;
}

.date_pick {
    text-align: center;
    background-color: #00bcd4;
    background-image: -webkit-linear-gradient(bottom, #3b3a3a 96%, #2b2a2a);
    background-image: -moz-linear-gradient(bottom, #3b3a3a 96%, #2b2a2a);
    background-image: -o-linear-gradient(bottom, #3b3a3a 976, #2b2a2a);
    background-image: -ms-linear-gradient(bottom, #3b3a3a 96%, #2b2a2a);
    background-image: linear-gradient(to top, #3b3a3a 96%, #2b2a2a);
    position: relative;
    overflow: hidden;
    width:100%;
}

.date_pick .arr_left {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 0;
}

ul.vs_box_bar {
    margin: 20px 0 10px;
}

ul.vs_box_bar li:last-child {
    background: none;
}

ul.vs_box_bar li {
  display: inline-block;
  width: 200px;
  background: url(../images/gray_line.png) right repeat-y;
}

a, a:link, a:visited, a:active {
  text-decoration: none;
}

.vs_box:hover, .vs_box_focus {
    opacity: 1;
}

.vs_team {
  display: table-cell;
  width: 45px;
  text-align: center;
  vertical-align: middle;
}

.vs_info {
  display: table-cell;
  width: 110px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  color: #FFF;
}

.vs_score {
    color: #aaa9a9;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote {
  margin: 0;
  padding: 0;
}

.vs_info {
  display: table-cell;
  width: 110px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  color: #FFF;
}
.vs_score span {
  font-size: 13px;
  margin: 0 15px;
}

.vs_final {
    color: yellow;
}

.date_pick .arr_right {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: 0;
}

.gray_tab_bar {
  text-align: center;
  background-color: #00bcd4;
  height: 40px;
  overflow: hidden;
  margin: 10px 0;
}



a.gray_tab, a.gray_tab:link, a.gray_tab:visited, a.gray_tab:active, a.gray_tab_focus, a.gray_tab_focus:link, a.gray_tab_focus:visited, a.gray_tab_focus:active
a.gray_tab_focus:hover {
  display: inline-block;
  /*background: url(../images/gray_line.png) right repeat-y;*/
  height: 40px;
  line-height: 40px;
  color: #fff;
  padding: 0 18px 0 14px;
}

a.gray_tab:hover, a.gray_tab_focus, a.gray_tab_focus:link, a.gray_tab_focus:visited, a.gray_tab_focus:activea.gray_tab_focus:hover {
  color: #2ca8d2;
}

.blue_board {
  background-color: #00bcd4;
/*   #2196F3 */
  height:auto;
  -webkit-box-shadow: inset 0 0 35px 8px rgba(0,0,0,.1);
  -moz-box-shadow: inset 0 0 35px 8px rgba(0,0,0,.1);
  box-shadow: inset 0 0 35px 8px rgba(0,0,0,.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 0;
  margin-bottom: 20px;
}


.team_part {
  width: 165px;
  text-align: center;
  float: left;
}

.team_part .t_cell {
  font-size: 20px;
}

.t_cell {
  height: 35px;
  line-height: 35px;
  color: #FFF;
}

.m_cell {
  height: 120px;
  overflow: hidden;
}

/*.team_part .b_cell {*/
/*  font-size: 16px;*/
/*}*/

/*.b_cell {*/
/*  height: 20px;*/
/*  color: #FFF;*/
/*  margin-top: 5px;*/
/*}*/

/*閮�*/

table {
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-style: normal;
  width: 100%;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-collapse: separate;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  /*color: -internal-quirk-inherit;*/
  /*text-align: start;*/
  /*font-variant: normal normal;*/
}

.score_part {
  width: 610px;
  text-align: center;
  float: left;
}

.score_board {
  width: 610px;
  height: 120px;
  overflow: hidden;
  background-color: #3b3a3a;
  -webkit-box-shadow: inset 0 0 20px 4px rgba(0,0,0,.1);
  -moz-box-shadow: inset 0 0 20px 4px rgba(0,0,0,.1);
  box-shadow: inset 0 0 20px 4px rgba(0,0,0,.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin:auto;
}

.gap_l20 {
  margin-left: 20px;
}

.score_board_side {
  width: 105px;
  height:94px;
  float: left;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table.score_table {
  height:94px;
  font-size: 18px;
  margin-top: 8px;
}

table.score_table th {
  color: #b2b1b1;
  height: 16px;
  text-align:center;
}

table.score_table td span {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #000;
  display: block;
  margin: 0 2px;
  text-align:center;
}

table.score_table {
    font-size: 18px;
    margin-top: 8px;
}

table.score_table td.team {
    font-size: 13px;
}

table.score_table td {
  color: #fff;
}

table.score_table tr:nth-child(2) td {
  border-bottom: #0d0d0d solid 1px;
}

.score_board_main {
  width: 360px;
  float: left;
  overflow: auto;
}

/**/
.gap_b20 {
  margin-bottom: 20px;
}

.half_block {
  width: 45%;
  margin-top: 15px;  
}

th {
  text-align:center;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (min-width: 1200px){
  .container {
    width: 1000px;
  }
}

@media screen and (max-width: 1000px) {
  .score_part {
    margin:auto;
    float:none;
  }
  .game{
    margin:auto;
  }
  
  .content {
	  width: 100%;
	}
	
	.team_part{
	  display:none;
	}
	
}

@media screen and (max-width: 600px) {
  .score_part {
    width:250px;
  }
  
  .score_board_main {
   display:none;
  }
  .respone{
    display: none;
  }
  
  .std_tb mix_x{
  	background-color:#0245A3;
  }
  .std_tb tr th, .std_tb tr th{
    font-size: 14px;
  }
  
  td span{
    display: none;
  }
}

footer{
  clear:both;
}